 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     background-color: rgba(227, 224, 224, 0.762);

 }
 body::-webkit-scrollbar{
    color:transparent;
width: 10px;
 }
 body::-webkit-scrollbar-thumb{
    background: linear-gradient(red,white,green);
 border-radius: 40px;
 
 }
 
body::-webkit-scrollbar-track{

    background: black;
  
 } 
body::-webkit-scrollbar-corner{

    background:red;
 }


 header {
     width: 100%;
     height: 70px;
     padding: 0;

     display: flex;
     justify-content: space-between;
     background-color: rgba(227, 224, 224, 0.762);
 }

 .man {
     display: flex;
     gap: 16px;
 }

 .man img {
     border-radius: 50%;
 }

 .man h1 {
     color: rgb(8, 8, 8);
 }

 .man1 {

     display: flex;
     padding: 20px;
 }

 .man1 button {
     width: 37px;
     height: 35px;
     border-radius: 0 50px 50px 0;
     padding: 6px;
     border: none;
     background-color: #c896bd92;

 }

 .man1 input {
     border-radius: 50px 0 0 50px;
     height: 35px;
     border: none;
     background-color: #c896bd92;
 }


 /* nav bar */

 nav {
     padding: 0;
     margin: 0;
     background-color: rgba(0, 0, 0, 0.767);

 }

 nav ul {
     display: flex;
     gap: 65px;
     position: relative;
     border: none;
     margin: 0;

 }

 nav ul li {
     list-style: none;
     font-size: 23px;
 }

 nav ul li a {
     text-decoration: none;
     color: whitesmoke;


 }

 nav ul li a:hover {

     color: whitesmoke;
     
     background-color: rgba(0, 0, 0, 0.835);
     transition: .5s;
 }
 .na ul {
     display: none;
 }


 nav ul li:hover .na ul {
     display: block;
     position: absolute;

 }

 nav ul li:hover .na ul li {
     border: solid wheat;
     background-color: rgba(0, 0, 0, 0.595);

 }

 nav ul li:hover .na ul li a {
     font-size: 26px;
     
     color: whitesmoke;
 }

 fieldset {
     border: 2px solid black;
     margin: 0;
     padding: 0;
 }

 .log-btn {

     display: flex;
     justify-content: flex-end;
     gap: 30px;
 }

 .log-btn button {

     color: rgba(255, 234, 0, 0.87);
     height: 100%;
     display: flex;
     font-weight: bold;
     border: none;
     border-radius: 30%;
     background-color: rgba(235, 22, 164, 0.843);

 }


/* slider */
.slide{
    display: flex;
      justify-content: space-between;
   
    position: relative;
}
.slideA{
    width: 100%;
    height: 100%;
    gap: 16px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 30px 50px;
    position: relative;

}
.slide1{

padding:40px 0 10px 40px;
width: 50%;
}
.slide1 p,h1{
    margin: 0;
}
.slide1btn1{
    display: flex;
    line-height: 38px;
margin-top:40px;
    height: 38px;
    width: 100px;
    border-radius: 12px;
    border: none;
    background-color: rgba(255, 0, 0, 0.928);
    color: white;
}

.slideimg{
    
    width: 50%;
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    align-items:flex-end;
}
.slideimg img{
border-radius: 0 0 150px 0;
    height: 100%;
    padding-right: 30px;
}
.slideB{
   width: 100%;
    height: 100%;
    gap: 16px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 30px 50px;
    position: relative;
    display: none;

}


.float{
    width: 75px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: space-between;
gap: 15px;
     bottom: 10px;
    right: 50%;
}
.floatbtn1{
   background-color: rgba(0, 0, 0, 0.405); 
   width: 32px;
   height: 100%;
border-radius: 50%;
border: none;
}
.floatbt2{
    background-color: rgba(0, 0, 0, 0.428);
width:32px;
height: 100%;
border-radius: 50%;
border: none;
}

 /* hero part   */
 section {
     margin: 0;
     width: 100%;
     height: 100%;
 }

 .hero { 
  display: flex;
     gap: 50px;
     padding: 24px;
justify-content: space-between;
flex: 1;
flex-wrap: wrap;
 }

 .hero1 {
     padding: 14px;
     margin: 0;
     background-color: rgba(31, 147, 182, 0.639);
     border-radius: 20px;
 }

 .hero1 h3 {
     margin: 0;
     padding-top: 20px;
 }

 .hero1 p {
     margin: 0;
     padding-top: 20px;
 }

 .hero1 img {
     width: 100%;


     border-radius: 20px 20px 0 0;
 }

 .hero1btn{

     
     border: none;
     border-radius: 10px;
     color: blue;
     background-color: antiquewhite;
     height: 43px;


 }



 #pro {
     width: 200px;
     height: 50px;
     color: #1502ea;
     border: none;
     display: flex;
   align-items: flex-end;
    flex-direction: row;
    justify-content: center;

font-size: 20px;
 }

 .hero3 {

     padding: 14px;
     margin: 0;
    background-image: url(https://picsum.photos/seed/ux/480/270);
     border-radius: 20px;
     display: flex;
        align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;

 }



 footer{
    background-color: black;
    width: 100vw;
    height:20svh;
 }